.box {
    transform: skew(-20deg);
    box-shadow:
        5px 5px 0 #FFF6E0,
        8px 8px 0 black;
}


.box h1 p {
    transform: skew(20deg);
}


.Statistics {

    background-image: url(./images/cardboard-texture\ 1.png);
}
